doctype html
html
    head
        meta(charset='utf-8')
        // 这是个iphone设备中的safari私有meta标签，它表示：允许全屏模式浏览；
        meta(content='yes', name='apple-mobile-web-app-capable')
        // 全屏显示
        meta(name='apple-touch-fullscreen', content='yes')
        // 不要让设备识别电话号码和邮箱地址
        meta(content='telephone=no,email=no', name='format-detection')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        // DNS预解析
        meta(http-equiv='x-dns-prefetch-control', content='on')
        link(href="/resources/css/common/reset.css", rel="stylesheet")
        link(href="/resources/css/common/common.css", rel="stylesheet")
        link(href="/resources/dep/swiper/swiper.min.css", rel="stylesheet")
        link(href="/resources/css/integral/integral_index.css", rel="stylesheet")
        title
    body
        include integral_banner.jade
        include integral_promotion.jade
        include ../index/index_mid_pic.jade
        include integral_car.jade
        script(src="http://s1.cximg.com/cxlib/assets/js/zepto/zepto-1.1.4.min.js", type="text/javascript")
        script(src="/resources/dep/swiper/swiper.min.js", type="text/javascript")
        script(src="/resources/js/remset.js", type="text/javascript")
        script(src="/resources/js/integral_index.js", type="text/javascript")