//div.integral_promotion.clearfix
    a(href="javascript:void(0);")
        div.main-box
            span.main
                em.red 抽奖
                活动
            img(src="/resources/img/belt.jpg")
    div.sub-box
        a(href="javascript:void(0);")
            div.quarter-box
                span.sub积分
                    em.blue 热兑
                img(src="/resources/img/ice-cream.jpg")
        a(href="javascript:void(0);")
            div.quarter-box
                span.sub 积分
                    em.purple 优惠
                img(src="/resources/img/bag.jpg")

div.integral_promotion.clearfix
    a(href="javascript:void(0);")
        div.main-box
            img(src="/resources/img/integral_pic_02.png")
    div.sub-box
        a(href="javascript:void(0);")
            div.quarter-box

                img(src="/resources/img/integral_pic_03.png")
        a(href="javascript:void(0);")
            div.quarter-box

                img(src="/resources/img/integral_pic_04.png")



