div.index-search
    a(href="javascript:void(0);").search-logo
        img(src="/resources/img/search-logo.png")
    input(type="text").search-textBox
    img(src="/resources/img/icon-search.png").search-icon